@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:ital,wght@0,100;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.heroBackrround {
  background-image: url("./pattern.svg"),
    linear-gradient(205.21deg, #33b133 29.21%, #004930 79.56%);
  background-size: cover;
}


.backgroundImage {
  background-image: url("http://staduimstream.test/public/images/hero.png");
}
.backgroundImagePattern {
  background-image: url("http://staduimstream.test/public/images/pattern.png");
}

.backgroundImagePattern1 {
  /* background-image: url('./dist/images/'), linear-gradient(205deg, #33B133 29.21%, #004930 79.56%); */
  /* background-size: cover; */
  background-image: url("http://staduimstream.test/public/assets/dist/afaaak.png");
}


@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
