@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
    background-image: url('http://staduimstream.test/public/images/hero.png');
  
  }
  .backgroundImagePattern{
    background-image: url(' http://staduimstream.test/public/images/pattern.png');
  }
  
.backgroundImagePattern1{
      /* background-image: url('./dist/images/'), linear-gradient(205deg, #33B133 29.21%, #004930 79.56%); */
      /* background-size: cover; */
      background-image: url('./public/assets/dist/afaaak.png');
      
} 